:root {
  --pb-width: 0%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2vw;
}

@media (max-width: 512px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.radial {
  width: 120px;
  height: 120px;
}

@media (max-width: 500px) {
  .radial {
    width: 80px;
    height: 80px;
  }
}

.grid-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-section .content {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.grid-section .content h4 {
  margin-bottom: 10px;
  margin-top: 0;
}

.grid-section .content table {
  min-width: 100px;
}

td {
  min-width: 25px;
}

.grid-section .content table td:last-child {
  text-align: right;
}

/*-----------------------------------*/

.graph-options {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.graph-options button {
  margin: 0 5px;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.graph-content {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.graph-options button:hover,
.selected {
  font-weight: bold;
}

@media (max-width: 500px) {
  .graph-content {
    height: 500px;
  }
}

.donut-segment {
  transition: stroke-dasharray 600ms ease-out;
}

.donut-segment,
.donut-ring {
  stroke-width: 8;
}

/*-----------------------------------*/

.progressbar {
  background-color: #e0e0e0;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.progressbar--filled {
  background-color: var(--pb-background);
  width: var(--pb-width);
  height: 100%;
  border-radius: inherit;
  transition: width 1s ease-in;
}

/*-----------------------------------*/

.table-content table {
  width: 100%;
  table-layout: fixed;
}

.table-content table tr:first-child {
  font-weight: bold;
  font-size: 110%;
}

.table-content table tr {
  height: 2em;
  border-top: 1px solid #b0b0b0;
}

.table-content table tr td:first-child {
  padding-left: 10px;
}

.table-content table tr td:last-child {
  padding-left: 10px;
}

@media (max-width: 768px) {
  .table-content {
    display: none;
  }
}

/*-----------------------------------*/

#month-estimate {
  text-align: center;
  padding-top: 20px;
}

/*-----------------------------------*/

#distusage {
  display: flex;
  margin-bottom: 20px;
}

#distusage-chart {
  margin-right: 50px;
}

@media (max-width: 768px) {
  #distusage {
    flex-direction: column;
    align-items: center;
  }

  #distusage-chart {
    margin-right: 0px;
  }
}

/*-----------------------------------*/

.content.stats-content {
  background: #f0f0f0;
  width: 100%;
}

.stats-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

/*-----------------------------------*/

.histStats li {
  margin-left: 20px;
}

/*-----------------------------------*/

#statsgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px 30px;
  box-sizing: border-box;
  max-width: 1800px;
  margin: 0 auto;
}

#statsgrid > div {
  min-width: 100%;
  box-sizing: border-box;
}

#statsgrid .stats-card-header {
  grid-column: 1 / span 2;
  box-sizing: border-box;
}

#statsgrid .general-info {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#statsgrid p {
  grid-column: 1 / span 2;
}

@media (max-width: 1200px) {
  #statsgrid,
  #statsgrid .general-info {
    display: block;
  }
}
