@import 'base/normalize';
@import 'base/typography';
@import 'base/variables';
@import 'layout/header';
@import 'layout/footer';
@import 'vendors/grid';
@import 'components/distro';
@import 'components/topnav';

body {
  background-color: $dark-green;
  font-family: $main-font;
  margin-top: 60px;
}

h1 {
  margin-top: 0;
}

hr {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 80%;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 960px;
  padding-left: 2rem;
  padding-right: 2rem;

}

img.logo {
  margin-bottom: 10px;
  width: 90%;
}

.content {
  background-color: darken($white, 2%);
  padding-top: 20px;

  section {
    margin-bottom: 20px;
    margin-top: 5px;
  }

  h5 {
    display: inline;
    padding: .25em;
  }

  p {
    line-height: 1.5em;
  }

  a {
    color: $green;
  }

  img {
    display: block;
    height: 200px;
    margin: 0 auto;
  }

  .mid {
    margin-bottom: 15px;
  }

  .subfooter {
    color: $lighter-black;
    font-size: .8em;
  }
}

.center {
  text-align: center;
}

.carasouel {
  background-image: url('../img/mainback.jpeg');
  box-sizing: border-box;
  color: $white;
  font-family: $bold-font;
  height: 300px;
  text-align: center;
  
  h1 {
    font-size: 4em;
    padding-top: 100px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  p {
    text-align: justify;
  }
}

.row {
  margin-bottom: 8px;
}

img.statImg {
  margin-bottom: 20px;
  max-height: auto;
  max-width: 75%;

  @media screen and (max-width: 800px) {
    max-width: 350px;
  }
}
