@import "normalize";
@import "variables";
@import "header";
@import "footer";
@import "grid";

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: $dark-green;
  font-family: $main-font;
}

h1 {
      margin-top: 0;
}

hr {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.content {
  background-color: darken(white, 2%);

  a {
    color: green;
  }

  .top {
    padding-top: 20px;
  }

  img {
    display: block;
    margin: 0 auto;
    height: 200px;
  }

  .mid {
    margin-bottom: 15px;
  }
}

.carasouel {
  font-family: $bold-font;
  text-align: center;
  color: white;
  height: 300px;
  background-image: url("../img/mainback.jpeg");
  box-sizing: border-box;

  h1 {

    font-size: 4em;
    padding-top: 50px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  p {
    text-align: justify;
  }
}

.row {
  margin-bottom: 5px;
}
