doctype html
html(lang="en")
  head
    title Clarkson University Mirror - Distributions
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    script(src="js/vendors/jquery-2.1.4.min.js")
    script(src="js/main.js")
    meta(name="theme-color" content="#035245")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    meta(name="description" content="The website for Clarkson University's Software Mirror")
    script.
      window.onload = function() {
        var foo = document.getElementById('navdistributions');
        foo.setAttribute("class", "current");
      };
      
  body
    include includes/_header.jade
    .content
      .container
        h1 Distributions
        
        .row
          .col.col--1-of-4.distro-contents
            h2 Contents
            ul
              li Arch Linux
              li Backtrack
              li CentOS
              li Debian
              li Fedora
              li Gentoo
              li IPFire
              li Knoppix
              li LinuxMint
              li OpenBSD
              li pfSense
              li OpenSUSE
              li Sabayon
              li Serenity Linux
              li Slackware
              li Slitaz
              li Ubuntu
              li Unity Linux
            
          .col.col--3-of-4
            .distro#arch
              h3 Arch Linux
              h5 homepage:
              a(href="http://archlinux.org") http://archlinux.org
              .distro  
              h3 Backtrack
              .distro    
              h3 CentOS (Official Mirror)
              .distro  
              h3 Debian
              .distro  
              h3 Fedora (Official Mirror)
              .distro  
              h3 Gentoo
              .distro  
              h3 IPFire (Official Mirror)
              .distro
              h3 Knoppix
              .distro
              h3 LinuxMint
              .distro
              h3 OpenBSD
              .distro
              h3 pfSense
              .distro
              h3 OpenSUSE
              .distro
              h3 Sabayon (Official Mirror)
              .distro
              h3 Serenity Linux (Main Mirror)
              .distro
              h3 Slackware
              .distro
              h3 Slitaz (Official Mirror)
              .distro
              h3 Ubutnu (Official Mirror)
              .distro
              h3 Unity Linux (Official Mirror)
    include includes/_footer.jade
