doctype html
html(lang="en")
  head
    title Clarkson University Mirror - Index
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    script(src="js/vendors/jquery-2.1.4.min.js")
    script(src="js/main.js")
    link(rel="icon" href="favicon.ico")
    meta(name="theme-color" content="#035245")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    meta(name="description" content="The website for Clarkson University's Software Mirror")
    script.
      window.onload = function() {
      var foo = document.getElementById("navhome");
      foo.setAttribute("class", "current"); };
  body
    include ../includes/_header.jade
    
    .carasouel
      .container
        h1 Welcome to Mirror
        
    .content
      .container
        .top
          h2 About Mirror
          p.
            This site is a public repository of free and open source software. It is located at
            #[a(href="http://www.clarkson.edu/") Clarkson University] in Potsdam, NY, US. This
            site strives to provide exposure to open source software and various open source
            operating systems. Currently, this site mirrors several Linux distributions, some
            third party repositories, and even the Linux Kernel. You can find out more information
            about everything we mirror by choosing the category that you are interested in.
            
        hr
        
        .row.mid
          .col.col--1-of-3
            img(src="img/debian_logo.svg")
            h2 Linux Distros
            p.
              We host around 20 distributions including Debian, Ubuntu, Arch Linux, Linux Mint,
              and many more. Many are official mirrors and the majority are updated 4 times a
              day from upstream mirrors. Learn more on the #[a(href="distributions.html") Distributions] page.
          .col.col--1-of-3
            img(src="img/gnu.svg")
            h2 GNU Software
            p.
                We also host a large quantity of software maintained by the GNU Project. you can
                find it on the #[a(href="misc.html") Misc.] page.
          .col.col--1-of-3
            img(src="img/tux.png")
            h2 Linux Kernel
            p.
             Versions of the Linux Kernel (Up to 4.3.X) can also be found on the #[a(href="misc.html") Misc.]
             page, found in the same place is documentation and souce for the kernel.
        
        hr
        
        h2 History
        p.
          The newest iteration will be completed in January 2016, but we have had Mirror
          running for almost a decade now. If you want to learn more about the newest
          iteration or the history behind the project, Visit the #[a(href="history.html") History] page.
        
    include ../includes/_footer.jade
