doctype html
html(lang="en")
  head
    title Clarkson University Mirror - Index
    link(rel="stylesheet" type="text/css" href="css/main.css")
    meta(name="theme-color" content="#035245")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    meta(name="description" content="The website for Clarkson University's Software Mirror")
  body
    include includes/_header.jade
    
    //- Main content for Index.html
    
    include includes/_footer.jade
