<template id="cosi-nav">
	<style>
	.navlinks {
	  background-color: rgba(255, 255, 255, 0.2);
	  font-size: 12px;
	  height: 40px;
	  position: absolute;
	  top: 0;
	  width: 100%;
	}

	.navlinks ul {
	  list-style-type: none;
	}

	.navlinks ul li {
	  display: inline;
	  margin-right: 15px;
	}

	.navlinks ul li a {
	  color: #fff;
	  font-weight: bold;
	  text-decoration: none;
	}

	@media (max-width: 900px) {
		.navlinks {
			display: none;
		}
	}
	</style>
	<div class="navlinks">
		<ul>
			<li><a href="http://cosi.clarkson.edu">CSLabs Homepage</a></li>
			<li><a href="https://dubsdot.cosi.clarkson.edu">DubsDot</a></li>
			<li><a href="https://talos.cosi.clarkson.edu/">Talos</a></li>
			<li><a href="http://docs.cosi.clarkson.edu">Docs</a></li>
			<li><a href="http://print.cosi.clarkson.edu">Print</a></li>
			<li><a href="http://mirror.cosi.clarkson.edu">Mirror</a></li>
			<li><a href="http://fsuvius.cosi.clarkson.edu">Fsuvius</a></li>
			<li><a href="http://talks.cosi.clarkson.edu">Talks</a></li>
			<li><a href="https://cosi-lab.github.io/meeting-minutes">Meeting Minutes</a></li>
			<li><a href="https://cosi-lab.github.io/project-updates">Project Updates</a></li>
			<li><a href="http://moodle.cosi.clarkson.edu">COSI Moodle</a></li>
			<li><a href="http://management.cosi.clarkson.edu">Management</a></li>
		</ul>
	</div>
</template>

<script>
	(function(window, document, undefined) {
		var thatDoc = document;
		var thisDoc = (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;

		var template = thisDoc.querySelector('template').content;

		var MyElementProto = Object.create(HTMLElement.prototype);

		MyElementProto.createdCallback = function() {
			var shadowRoot = this.createShadowRoot();

			var clone = thatDoc.importNode(template, true);
			shadowRoot.appendChild(clone);
		};

		window.MyElementProto = thatDoc.registerElement('cosi-nav', {
			prototype: MyElementProto
		});
	})(window, document);
</script>
