doctype html
html(lang="en")
	head
		title Clarkson University Mirror - Directory
		include ../includes/_mainHeadTags.pug
		script.
			window.onload = function() {
				var foo = document.getElementById('navdirectory');
				foo.setAttribute("class", "current");
			};

	body
		include ../includes/_header.pug
		include ../includes/_footer.pug
