doctype html
html(lang="en")
  head
    title Clarkson University Mirror - Distributions
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    script(src="js/vendors/jquery-2.1.4.min.js")
    script(src="js/main.js")
    meta(name="theme-color" content="#035245")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    meta(name="description" content="The website for Clarkson University's Software Mirror")
    script.
      window.onload = function() {
        var foo = document.getElementById('navdistributions');
        foo.setAttribute("class", "current");
      };

  body
    include ../includes/_header.pug
    .content
      .container
        h1 Distributions

        .row
          .col.col--1-of-4.distro-contents
            h2 Contents
            ul
              li: a(href='#arch') Arch Linux
              li: a(href='#debian') Debian
              li: a(href='#fedora') Fedora
              li: a(href='#gentoo') Gentoo
              li: a(href='#ipfire') IPFire
              li: a(href='#mint') LinuxMint
              li: a(href='#sabayon') Sabayon
              li: a(href='#serenity') Serenity Linux
              li: a(href='#slackware') Slackware
              li: a(href='#ubuntu') Ubuntu
              li: a(href='#raspbian') Raspbian
              li: a(href='#voidlinux') Void Linux
              li: a(href='#parrotsec') Parrot Security OS

          .col.col--3-of-4
            h5 Note:
            | All distros are updated 4 times daily unless said otherwise.

            .distro#arch
              h3 Arch Linux
              h5 ISOs:
              a(href='./archlinux/iso/latest/') http://mirror.clarkson.edu/archlinux/iso/latest/
              br
              h5 HTTP:
              a(href='./archlinux/') http://mirror.clarkson.edu/archlinux/
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/archlinux
              br
              br
              h5 Upstream Mirror:
              a(href="http://mirror.cs.pitt.edu") mirror.cs.pitt.edu
              br
              h5 Homepage:
              a(href='http://www.archilinux.org/') http://www.archilinux.org/

            .distro#debian
              h3 Debian
              h5 ISOs:
              a(href='./debian-cd/') http://mirror.clarkson.edu/debian-cd/
              br
              h5 HTTP:
              a(href='./debian/') http://mirror.clarkson.edu/debian/
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/debian-cd
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/debian
              br
              br
              h5 Upstream Mirrors:
              a(href="http://ftp.us.debian.org") ftp.us.debian.org
              |  &
              a(href="http://cdimage.debian.org") cdimage.debian.org
              br
              h5 Homepage:
              a(href='http://www.debian.org/') http://www.debian.org/

            .distro#fedora
              h3 Fedora (Official Mirror)
              h5 ISOs:
              a(href='./fedora/linux/releases/') http://mirror.clarkson.edu/fedora/linux/releases/
              br
              h5 HTTP:
              a(href='./fedora/linux/') http://mirror.clarkson.edu/fedora/linux/
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/fedora
              br
              br
              h5 Upstream Mirror:
              a(href="http://mirror.cs.pitt.edu") mirror.cs.pitt.edu
              br
              h5 Homepage:
              a(href='http://fedoraproject.org/') http://fedoraproject.org/

            .distro#gentoo
              h3 Gentoo
              h5 ISOs:
              a(href='./gentoo/releases/') http://mirror.clarkson.edu/archlinux/gentoo/releases/
              br
              h5 HTTP:
              a(href='./gentoo/') http://mirror.clarkson.edu/gentoo/
              |  &
              a(href='./gentoo-portage/') http://mirror.clarkson.edu/gentoo-portage/
              h5 Rsync:
              | rsync://mirror.clarkson.edu/gentoo
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/gentoo-portage
              br
              br
              h5 Upstream Mirror:
              a(href="http://gentoo.cs.uni.edu") gentoo.cs.uni.edu
              br
              h5 Homepage:
              a(href='http://www.gentoo.org/') http://www.gentoo.org/

            .distro#ipfire
              h3 IPFire (Official Mirror)
              h5 HTTP:
              a(href='./ipfire/') http://mirror.clarkson.edu/ipfire/
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/ipfire
              br
              br
              h5 Upstream Mirror:
              a(href="http://rsync.ipfire.org") rsync.ipfire.org
              br
              h5 Frequency of Updates:
              | Hourly
              br
              h5 Homepage:
              a(href='http://www.ipfire.org/') http://www.ipfire.org/

            .distro#mint
              h3 LinuxMint
              h5 ISOs:
              a(href='./linuxmint/iso/') http://mirror.clarkson.edu/linuxmint/iso/
              br
              h5 HTTP:
              a(href='./linuxmint/') http://mirror.clarkson.edu/linuxmint/
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/linuxmint-iso
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/linuxmint-packages
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/linuxmint-debian
              br
              br
              h5 Upstream Mirror:
              a(href="http://mirror.umd.edu") mirror.umd.edu
              |  &
              a(href="http://packages.linuxmint.com") packages.linuxmint.com
              |  &
              a(href="http://debian.linuxmint.com") debian.linuxmint.com
              br
              h5 Homepage:
              a(href='http://www.linuxmint.com/') http://www.linuxmint.com/

            .distro#sabayon
              h3 Sabayon (Official Mirror)
              h5 HTTP:
              a(href='./sabayon/') http://mirror.clarkson.edu/sabayon/
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/sabayon
              br
              br
              h5 Upstream Mirror:
              a(href="http://na.mirror.garr.it") na.mirror.garr.it
              br
              h5 Homepage:
              a(href='http://sabayon.org/') http://sabayon.org/

            .distro#serenity
              h3 Serenity Linux (Main Mirror)
              h5 HTTP:
              a(href='./serenity') http://mirror.clarkson.edu/serenity
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/serenity
              br
              br
              h5 Homepage:
              a(href='http://serenitylinux.org/') http://serenitylinux.org/

            .distro#slackware
              h3 Slackware
              h5 HTTP:
              a(href='./slackware/') http://mirror.clarkson.edu/slackware/
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/slackware
              br
              br
              h5 Upstream Mirror:
              a(href="http://mirror.cs.princeton.edu/") mirror.cs.princeton.edu
              br
              h5 Homepage:
              a(href='http://www.slackware.com/') http://www.slackware.com/

            .distro#ubuntu
              h3 Ubutnu (Official Mirror)
              h5 ISOs:
              a(href='./ubuntu-releases/') http://mirror.clarkson.edu/ubuntu-releases/
              br
              h5 HTTP:
              a(href='./ubuntu/') http://mirror.clarkson.edu/ubuntu/
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/ubuntu-releases
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/ubuntu
              br
              br
              h5 Upstream Mirror:
              a(href="http://us.releases.ubuntu.com") us.release.ubuntu.com
              |  &
              a(href="http://us.archive.ubuntu.com") us.archive.ubuntu.com
              br
              h5 Homepage:
              a(href='http://www.ubuntu.com/') http://www.ubuntu.com/

            .distro#raspbian
              h3 Raspbian
              h5 HTTP:
              a(href='./raspbian/') http://mirror.clarkson.edu/raspbian/
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/raspbian
              br
              br
              h5 Upstream Mirror:
              br
              h5 Homepage:
              a(href='https://www.raspbian.org/') https://www.raspbian.org/

            .distro#voidlinux
              h3 Void Linux
              h5 HTTP:
              a(href='./VoidLinux/') http://mirror.clarkson.edu/VoidLinux/
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/VoidLinux
              br
              br

              h5 Homepage:
              a(href='http://www.voidlinux.eu/') http://www.voidlinux.eu/

            .distro#parrotsec
              h3 Parrot Security OS
              h5 HTTP:
              a(href='./parrot/') http://mirror.clarkson.edu/parrot/
              br
              h5 Rsync:
              | rsync://mirror.clarkson.edu/parrot
              br
              br
              h5 Upstream Mirror:
              a(href="http://archive.parrotsec.org") archive.parrotsec.org
              br

              h5 Homepage:
              a(href='https://www.parrotsec.org/') https://www.parrotsec.org/

    include ../includes/_footer.pug
