doctype html
html(lang="en")
  head
    title Clarkson University Mirror - History
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    script(src="js/vendors/jquery-2.1.4.min.js")
    script(src="js/main.js")
    meta(name="theme-color" content="#035245")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    meta(name="description" content="The website for Clarkson University's Software Mirror")
    script.
      window.onload = function() {
        var foo = document.getElementById('navhistory');
        foo.setAttribute("class", "current");
      };
      
  body
    include ../includes/_header.pug
    .content
      .container
        h1 History
        p Mirror has existed for about a decade in the labs. 
    
      .container
        h1 Sponsors
        p We would like to thank everyone that helped out contributing to help the new mirror possible, including:
        ul.center(style="list-style-type: none;")
          li Eric Busse
          li Ted Champagne
          li Steve Evanchik
          li Wenjin Hu
          li Mark Platek

        p and these corporate sponsors:
        .row
          .col.col--2-of-4
            a(href="http://www.vmware.com/"): img(src="img/vmware.jpg").logo
          .col.col--2-of-4
            a(href="https://www.siegetechnologies.com/"): img(src="img/siege.jpg").logo
        
        
        
      .container.subfooter.center
        p The logos are copyrighted by VMware and Siege Technologies respectively and fair use is given.
    
    include ../includes/_footer.pug
