doctype html
html(lang="en")
    head
        title Clarkson University Mirror - Statistics
        include ../includes/_mainHeadTags.pug
        include ../includes/_mixins.pug
        link(rel="stylesheet" href="css/stats.css")
        link(rel="stylesheet" href="css/c3.min.css")
        script(src="js/vendors/d3/d3.min.js")
        script(src="js/vendors/c3/c3.min.js")
        script.
            window.onload = function() {
                var foo = document.getElementById('navstats');
                foo.setAttribute("class", "current");
            };

    body
        include ../includes/_header.pug
        .content
            .container
                h1 Statistics
                p Statistics for this iteration of Mirror have been collected since April 24, 2016.
                h2 General Statistics
                h3#updated
                .grid
                    #today_stats.grid-section
                        .radial
                            +donut
                        .content
                            h4
                            +stats-table
                    #yesterday_stats.grid-section
                        .radial
                            +donut
                        .content
                            h4
                            +stats-table
                    #month_stats.grid-section
                        .radial
                            +donut
                        .content
                            h4
                            +stats-table
                    #prev_month_stats.grid-section
                        .radial
                            +donut
                        .content
                            h4
                            +stats-table
                h2 Path to 1PB
                #pb-container
                    .progressbar
                        .progressbar--filled
                h2 Monthly Stats
                .graph-container
                    .graph-options
                        | Last 12 Months
                    #month-graph.graph-content
                h2 Weekly Stats
                .graph-container
                    .graph-options
                        | Last 7 days
                    #week-graph.graph-content
                h2 Hourly Stats
                .graph-container
                    .graph-options
                        | Last 24 hours
                    #hour-graph.graph-content
                h2 Distro Usage
                p View daily bandwidth stats categorized to each repository for distros / software.
                a(href="/distrousage/distrousage_latest.txt") Latest
                br
                a(href="/distrousage/archive") Archive
                p(style="text-align:center; font-size: 80%") MirrorBand V1.1

        include ../includes/_footer.pug
        script(src="js/vendors/moment.min.js")
        script(src="js/month.js")
        script(src="js/day.js")
        script(src="js/hour.js")
        script(src="js/updated.js")
        script(src="js/total.js")
        script(src="js/stats.js")
