doctype html
html(lang="en")
	head
		title Clarkson University Mirror - Statistics
		include ../includes/_mainHeadTags.pug
		script.
			window.onload = function() {
				var foo = document.getElementById('navstats');
				foo.setAttribute("class", "current");
			};

	body
		include ../includes/_header.pug
		.content
			.container
				h1 Statistics
				//- include ../includes/_ips.pug (uncomment this when being put onto the server)
				p This page includes statistics on the traffic (up and down) of Mirror
				img(src="img/vnstati-sum.png").stat-img
				img(src="img/vnstati-month.png").stat-img
				img(src="img/vnstati-day.png").stat-img
				img(src="img/vnstati-hour.png").stat-img

		include ../includes/_footer.pug
