// Styles for the footer
footer {
  background-color: $darker-green;
  box-shadow: 0 2px 4px $black;
  color: $white;
  height: 180px;
  width: 100%;
  z-index: 2;

  .container {
    margin: 0 auto;
    max-width: 960px;
    padding-top: 1px;
  }

  a {
    color: $white;
    font-style: italic;
    text-decoration: none;

    &:hover {
      font-weight: bold;
    }
  }
}

@media (max-width: 900px) {
  footer {
    height: 250px;
  }
}
