// Styles for the header
header {

  margin-top: 10px;
  box-sizing: border-box;
  height: auto;
  color: white;

  .top-header {
    height: 80px;
  }

  h1 {
    padding-top: 20px;
    padding-left: 10px;
    display: inline;
    float: left;

    a {
      color: white;
      text-decoration: none;
    }
  }

  img {
    float: left;
    display: inline;
  }

}

i.menu-button {
  color: white;
  font-size: 2em;
  margin: 0.67em 0;
  float: right;
  display: none;
  padding-right: 15px;
}

nav#navdesktop {
  clear: both;
  background-color: $darker-green;
  margin-bottom: 0px;
  padding-bottom: 0px;

  .container {
    height: 50px;
    margin: 0 auto;
    padding: 0;
  }

  ul {
    list-style-type: none;
    height: 3rem;

    li {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 1em;
      padding-bottom: 1em;
      box-sizing: border-box;
      display: block;
      float: left;
      text-align: center;
      height: inherit;

      a {
        display: block;
        color: white;
        text-decoration: none;
      }

      &:hover {
        background: lighten($darker-green, 2%);
      }

      &.current {
        background-color: darken($dark-green, 2.5%);
      }
    }
  }
}

nav#navmobile {
  display: none;
  background-color: $darker-green;
  color: white;

  ul {
    list-style-type: none;
    padding-left: 0px;

    li {
      margin: 0px;
      width: 100%;
      border-bottom: 2px solid darken($darker-green, 3%);
      padding-top: 1.25em;
      padding-bottom: 1.25em;
      box-sizing: border-box;

      &:last-child {
        border-bottom: none;
      }

      a {
        text-align: center;
        text-decoration: none;
        width: inherit;
        height: inherit;
        display: block;
        color: inherit;

        &:hover {
          background-color: lighten($darker-green, 2%);
        }
      }
    }
  }
}

@media (min-width: 901px) {
  nav#navmobile {
    display: none;
  }
}

@media (max-width: 900px) {
  nav#navdesktop {
    display: none;
  }

  i.menu-button {
    display: inline-block;
  }
}
