.navlinks {
  background-color: rgba(255, 255, 255, .2);
  font-size: 12px;
  height: 40px;
  position: absolute;
  top: 0;
  width: 100%;

  ul {
    list-style-type: none;

    li {
      display: inline;
      margin-right: 15px;

      a {
        color: $white;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
