.navlinks {
  width: 100%;
  position: absolute;
  top: 0;
  font-size: 12px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);

  ul {
    list-style-type: none;

    li {
      display: inline;
      margin-right: 15px;

      a {
        color: white;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
