@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto Slab";
    src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
}