// Colors
$green: #008000;
$white: #fff;
$black: #000;

$dark-green: #4b5541;
$darker-green: darken($dark-green, 7.5%);
$lighter-black: #777;

// Fonts
$main-font: 'Roboto';
$bold-font: 'Roboto Slab';
