//- The footer for all pages
footer
  .container
    .row
      .col.col--2-of-4
        h3 
          a(href="http://cslabs.clarkson.edu") Clarkson Open Source Institute
        h3 Clarkson University | Science Center 336
      .col.col--2-of-4
        h3 Contact
        p: a(href="mailto:mirror-admin@cslabs.clarkson.edu") mirror-admin@cslabs.clarkson.edu
    .row
      .col.col--1-of-3.col--push-1-of-3
        p Main design by Benjamin Lannon
