//- The footer for all pages
footer
  .container
    .row
      .col.col--4-of-4
        h4.
          #[a(href="http://cosi.clarkson.edu") Clarkson Open Source Institute] | Design by Benjamin Lannon | Mirror Contact: thajohns@clarkson.edu mahonec@clarkson.edu | #[a(href="https://github.com/COSI-Lab/MirrorWebsite") GitHub Repository]
