//- The header for all pages
include _mixins.jade


header
  .container.top-header
    a(href="http://clarkson.edu/"): img(src="img/clarksonlogo.jpg")
    h1(class="left")
      a(href="index.html") Mirror
    i(class="fa fa-bars menu-button")
  nav#navdesktop
    .container
      +nav-list
nav#navmobile
  .container
    +nav-list
