//- The header for all pages
mixin nav-list
  ul 
    li#navhome
      a(href="index.html") Mirror Home
    li#navdistributions
      a(href="distributions.html") Distributions
    li#nav3rdparty
      a(href="3rdparty.html") 3rd Party Repos
    li#navmisc
      a(href="misc.html") Misc.
    li#navdirectory
      a(href="directory.html") Directory Listing
    li#navhistory 
      a(href="history.html") History

header
  .container.top-header
    a(href="http://clarkson.edu/"): img(src="img/clarksonlogo.jpg")
    h1.left Mirror
  nav#navdesktop
    .container
      +nav-list
nav#navmobile
  .container
    +nav-list
