//- The header for all pages
header
  .container.top-header
    a(href="http://clarkson.edu/"): img(src="img/clarksonlogo.jpg")
    h1.left Mirror
  nav
    .container
      ul 
        li.current
          a(href="") Mirror Home
        li
          a(href="") Distributions
        li 
          a(href="") 3rd Party Repos
        li 
          a(href="") Misc.
        li 
          a(href="") Directory Listing
        li 
          a(href="") History
