//- The header for all pages
header
  .container.top-header
    a(href="http://clarkson.edu/"): img(src="img/clarksonlogo.jpg")
    h1.left Mirror
  nav
    .container
      ul 
        li#navhome
          a(href="index.html") Mirror Home
        li#navdistributions
          a(href="distributions.html") Distributions
        li#nav3rdparty
          a(href="") 3rd Party Repos
        li#navmisc
          a(href="") Misc.
        li#navdirectory
          a(href="") Directory Listing
        li#navhistory 
          a(href="") History
