mixin nav-list
  ul
    li#navhome
      a(href="index.html") Mirror Home
    li#navdistributions
      a(href="distributions.html") Distributions
    li#navmisc
      a(href="misc.html") Misc.
    //- li#navdirectory
      //- a(href="directory.html") Directory Listing
    li#navhistory
      a(href="history.html") History & Sponsors
