mixin nav-list
  ul
    li#navhome
      a(href="index.html") Mirror Home
    li#navdistributions
      a(href="distributions.html") Distributions
    li#navsoft
      a(href="software.html") Software
    li#navstats
      a(href="stats.html") Statistics
    li#navhistory
      a(href="history.html") History & Sponsors
